@page
@model azure_app_aiduma_vs.Pages.DeploymentSlotsModel
@{
    ViewData["Tite"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Testing Deployment Slots
    </h1>
    <h3>
        Validating the deployment slot feature
    </h3>
    <h3>
        @ViewData["Greeting"]
    </h3>
</div>
